@import url('https://fonts.googleapis.com/css?family=Open+San:800|Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background-image: url(https://i.imgur.com/nMXTMdn.png), url(https://i.imgur.com/kyQV3Uu.png), url(https://i.imgur.com/mXdnYqW.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: bottom left, bottom right 10px, center;
    background-size: 170px 270px, 160px 270px, 100% 100%;
}
.btn {
    font-family: 'Open Sans', sans-serif !important;
}

.changeLink {
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
    font-weight: 800 !important;
    color: dimgrey;
}
.nav-link:hover {
    color: #3a3c4f;
}
.fa-broom {

    padding: 1rem;
    color: #494f81;
}
.fa-image {
    position: relative;
    margin-left: 10px;
}
.fa-cog {
    margin-right: 20px;
    padding: 0 !important;
}
.intro {
    font-family: 'Open Sans', sans-serif;
    font-size: 300%;
    font-weight: 800;
    text-decoration: none !important;
    color: #494f81;
}
.intro:hover {
    color: #3a3c4f;
}
.lowish {
    position: relative;
    top: 5px;
}
.low {
    position: relative;
    top: 15px
}
.lower {
    position: relative;
    top: 35px;
}
.rightFloat {
   float: right !important;
}
.spaceAbove {
    margin-top: 2rem;
}
.navbar-default {
    background-color: #f0f1f2 !important;
}
.resize {
    height: 150px;
    width: 150px;
    padding-left: 7px;
}
.makePretty {
    width: 800px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
}
.carousel-caption h1 {
    font-size: 500%;
    text-transform: uppercase;
    text-shadow: 1px 1px 15px #000;
}
.carousel-caption h3 {
    font-size: 200%;
    font-weight: 500;
    text-shadow: 1px 1px 15px #000;
    padding-bottom: 1rem;
}
.paddingTop {
    padding-top: 1rem;
}
.paddingBottom {
    padding-bottom: 10px;
}
.jumbotron {
    border-radius: 0;
    padding: 1rem;
}
.changeColor {
    color: #494f81 !important;
}
.slow {
    animation-delay: 0.3s;
}
.mover {
    animation: swing 5s infinite ease-in-out;
}
@keyframes move {
    20%, 100% {
        transform: translate(200px, 0);
    }
}
h3 {
    padding-top: 10px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
}
h5 {
    margin: 0 !important;
    padding: 0 !important;
}
footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800 !important;
    color: white;
    background-color: #494f81;
}
.card-text {
    margin: 0;
    padding: 0;
}